# MongoDB Load JSON with python

In [1]:
%matplotlib inline
import pymongo
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure
from bson import json_util, ObjectId
import pandas as pd
from pandas import DataFrame
from pandas.io.json import json_normalize
import numpy as np
import requests
import json, os
import configparser
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
import warnings
import random
import pprint
from datetime import datetime
random.seed(datetime.now())
warnings.filterwarnings('ignore')

# Make plots larger
plt.rcParams['figure.figsize'] = (10, 6)

In [2]:
config = configparser.ConfigParser()
config.read('./data/mongo.ini')

['./data/mongo.ini']

In [6]:
client = MongoClient(config.get('Mongo', 'host'), int(config.get('Mongo', 'port')))

In [7]:
db=client.tweets

In [8]:
db.collection_names(include_system_collections=False)

[]

In [9]:
try:
    result = db.tweets.drop()
    print ("analytics tweets dropped")
except:
    pass

analytics tweets dropped

In [10]:
def load_json(j):
    p=os.path.join("data/", j)
    print (p)
    with open(p, 'rU') as f:
      data = [json.loads(row) for row in f]
    return data

In [11]:
tweets_j=load_json('db_tweets.json')
tweets_j[0]

data/db_tweets.json

{'contributors': None,
 'coordinates': None,
 'created_at': 'Sun Mar 15 21:41:22 +0000 2015',
 'entities': {'hashtags': [{'indices': [128, 136], 'text': 'Bigdata'},
   {'indices': [137, 140], 'text': 'IoT'},
   {'indices': [139, 140], 'text': 'CIO'}],
  'symbols': [],
  'trends': [],
  'urls': [{'display_url': 'bit.ly/1jvQFcK',
    'expanded_url': 'http://bit.ly/1jvQFcK',
    'indices': [105, 127],
    'url': 'http://t.co/gLf50KtZKx'}],
  'user_mentions': [{'id': 474651213,
    'id_str': '474651213',
    'indices': [3, 15],
    'name': 'Marc Wilczek',
    'screen_name': 'MarcWilczek'}]},
 'favorite_count': 0,
 'favorited': False,
 'filter_level': 'low',
 'geo': None,
 'id': 577223085054558208,
 'id_str': '577223085054558208',
 'in_reply_to_screen_name': None,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'lang': 'en',
 'place': None,
 'possibly_sensitive': False,
 'retweet_count': 0,
 'retweeted': False,
 'retweeted_status': {'contributors': None,
  'coordinates': None,
  'created_at': 'Sun Mar 15 21:20:26 +0000 2015',
  'entities': {'hashtags': [{'indices': [111, 119], 'text': 'Bigdata'},
    {'indices': [120, 124], 'text': 'IoT'},
    {'indices': [125, 129], 'text': 'CIO'}],
   'symbols': [],
   'trends': [],
   'urls': [{'display_url': 'bit.ly/1jvQFcK',
     'expanded_url': 'http://bit.ly/1jvQFcK',
     'indices': [88, 110],
     'url': 'http://t.co/gLf50KtZKx'}],
   'user_mentions': []},
  'favorite_count': 0,
  'favorited': False,
  'filter_level': 'low',
  'geo': None,
  'id': 577217818753548288,
  'id_str': '577217818753548288',
  'in_reply_to_screen_name': None,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'lang': 'en',
  'place': None,
  'possibly_sensitive': False,
  'retweet_count': 1,
  'retweeted': False,
  'source': '<a href="http://twuffer.com" rel="nofollow">Twuffer</a>',
  'text': 'In 2014, the digital universe equaled 1.7 megabytes a minute for every person on Earth: http://t.co/gLf50KtZKx #Bigdata #IoT #CIO',
  'truncated': False,
  'user': {'contributors_enabled': False,
   'created_at': 'Thu Jan 26 06:24:30 +0000 2012',
   'default_profile': False,
   'default_profile_image': False,
   'description': 'Passionate about Tech, Innovation, Strategy and Change. VP Portfolio, Innovation, Architecture @ T-Systems—Deutsche Telekom. Views are my own',
   'favourites_count': 192,
   'follow_request_sent': None,
   'followers_count': 8726,
   'following': None,
   'friends_count': 599,
   'geo_enabled': True,
   'id': 474651213,
   'id_str': '474651213',
   'is_translator': False,
   'lang': 'de',
   'listed_count': 158,
   'location': 'Frankfurt am Main, Germany',
   'name': 'Marc Wilczek',
   'notifications': None,
   'profile_background_color': '030302',
   'profile_background_image_url': 'http://pbs.twimg.com/profile_background_images/450722427484385281/kI1yHyhI.jpeg',
   'profile_background_image_url_https': 'https://pbs.twimg.com/profile_background_images/450722427484385281/kI1yHyhI.jpeg',
   'profile_background_tile': False,
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/474651213/1396102695',
   'profile_image_url': 'http://pbs.twimg.com/profile_images/378800000687547211/66fbdde017be98bcb15ce759766e86cd_normal.jpeg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/378800000687547211/66fbdde017be98bcb15ce759766e86cd_normal.jpeg',
   'profile_link_color': '786A55',
   'profile_sidebar_border_color': 'FFFFFF',
   'profile_sidebar_fill_color': '12291F',
   'profile_text_color': '547B61',
   'profile_use_background_image': False,
   'protected': False,
   'screen_name': 'MarcWilczek',
   'statuses_count': 8725,
   'time_zone': None,
   'url': 'http://www.marcwilczek.com',
   'utc_offset': None,
   'verified': False}},
 'source': '<a href="http://www.simbasystems.com" rel="nofollow">NoSQLDigest</a>',
 'text': 'RT @MarcWilczek: In 2014, the digital universe equaled 1.7 megabytes a minute for every person on Earth: http://t.co/gLf50KtZKx #Bigdata #I…',
 'timestamp_ms': '1426455682420',
 'truncated': False,
 'user': {'contributors_enabled': False,
  'created_at': 'Sun Aug 03 17:07:24 +0000 2014',
  'default_profile': True,
  'default_profile_image': False,
  'description': 'NoSQL Digest of tweets.',
  'favourites_count': 72,
  'follow_request_sent': None,
  'followers_count': 5418,
  'following': None,
  'friends_count': 12,
  'geo_enabled': False,
  'id': 2704548373,
  'id_str': '2704548373',
  'is_translator': False,
  'lang': 'en',
  'listed_count': 1799,
  'location': '',
  'name': 'NoSQL',
  'notifications': None,
  'profile_background_color': 'C0DEED',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/499257180009529344/CSWhr7LZ_normal.jpeg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/499257180009529344/CSWhr7LZ_normal.jpeg',
  'profile_link_color': '0084B4',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'protected': False,
  'screen_name': 'NoSQLDigest',
  'statuses_count': 362920,
  'time_zone': None,
  'url': None,
  'utc_offset': None,
  'verified': False}}

In [12]:
print(tweets_j[0]['text'])

RT @MarcWilczek: In 2014, the digital universe equaled 1.7 megabytes a minute for every person on Earth: http://t.co/gLf50KtZKx #Bigdata #I…

In [13]:
def tweet_json(tid,text,created):
    j={
    "tweet_id" : tid,
    "text" : text,
    "created_at" : created}
    return j

In [14]:
# Twitter dates are of the form Sun Mar 15 21:41:54 +0000 2015
datestrings=['Sun Mar 15 21:41:54 +0000 2015','Tue Mar 29 08:11:25 +0000 2011']
from datetime import timedelta
from email.utils import parsedate_tz
from dateutil.parser import parse

def to_datetime(datestring):
    time_tuple = parsedate_tz(datestring.strip())
    dt = datetime(*time_tuple[:6])
    return dt - timedelta(seconds=time_tuple[-1])

ts=to_datetime(datestrings[0])
print (ts.strftime("%Y-%m-%d %H:%M"))
ts=to_datetime(datestrings[1])
print (ts.strftime("%Y-%m-%d %H:%M"))

2015-03-15 21:41
2011-03-29 08:11

In [15]:
cnt=0
for tweet in tweets_j:
    ts=datetime.now()
    try:
        ts=to_datetime(tweet['created_at'])
    except:
        continue     
    try:
        j=tweet_json(tweet['id'],tweet['text'],ts)
        result = db.tweets.insert_one(j)
        cnt+=1
    except:
        pass       
print ("%d tweets inserted."%cnt)

55 tweets inserted.

In [16]:
for tweet in db.tweets.find():
    pprint.pprint(tweet)

{'_id': ObjectId('5ac442b3a313fc06a48193ee'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 41, 22),
 'text': 'RT @MarcWilczek: In 2014, the digital universe equaled 1.7 megabytes '
         'a minute for every person on Earth: http://t.co/gLf50KtZKx #Bigdata '
         '#I…',
 'tweet_id': 577223085054558208}
{'_id': ObjectId('5ac442b3a313fc06a48193ef'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 41, 30),
 'text': 'Tanginang database to',
 'tweet_id': 577223118327926785}
{'_id': ObjectId('5ac442b3a313fc06a48193f0'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 41, 31),
 'text': 'RT @chrisco: The future of farming: robots + big data: '
         'http://t.co/MiEIZmKzEb via @KurzweilAINews #AgTech #AgBots #Robotics '
         '#Automation #Io…',
 'tweet_id': 577223124862697472}
{'_id': ObjectId('5ac442b3a313fc06a48193f1'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 41, 40),
 'text': 'RT @Brian_Singer_: The EMC Federation Joins the OpenStack Foundation '
         'http://t.co/i37gbFthQw #cloud #bigdata #aws #ec2 '
         'http://t.co/uYQIXOSMHs',
 'tweet_id': 577223160195502080}
{'_id': ObjectId('5ac442b3a313fc06a48193f2'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 41, 46),
 'text': 'RT @execedia: Learn @execedia: The Business Benefits of Big Data '
         'http://t.co/uQSGCKEiOn\n'
         ' #BigData',
 'tweet_id': 577223187110330368}
{'_id': ObjectId('5ac442b3a313fc06a48193f3'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 41, 54),
 'text': 'RT @RiverCityGal: The goal is not to keep #bigdata scary but to turn '
         'it into something beautiful @kalpenn #natgeosxsw @NatGeoChannel',
 'tweet_id': 577223217942691840}
{'_id': ObjectId('5ac442b3a313fc06a48193f4'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 41, 56),
 'text': 'RT @TheHesterView: MT .@techrepublic WhiteHouse + climate change: '
         'hackathons, crowdsourcing, #bigdata http://t.co/6HWjCv3BL5 Lets join '
         'in! …',
 'tweet_id': 577223226444509185}
{'_id': ObjectId('5ac442b3a313fc06a48193f5'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 41, 58),
 'text': '@TurnupPrince if there was some sort of list or database? There is a '
         "general rating list, but i don't think it addresses this "
         'specifically',
 'tweet_id': 577223237140148224}
{'_id': ObjectId('5ac442b3a313fc06a48193f6'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 42, 1),
 'text': 'Can you replace a recruiter with an algorithm? '
         'http://t.co/rLNk2UtnkL',
 'tweet_id': 577223250566082560}
{'_id': ObjectId('5ac442b3a313fc06a48193f7'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 42, 5),
 'text': 'RT @DataScientistFr: Leading Marketing Excellence With Analytics '
         'http://t.co/92XV9CUUpO #BigData #Analytics',
 'tweet_id': 577223265891934208}
{'_id': ObjectId('5ac442b3a313fc06a48193f8'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 42, 19),
 'text': 'RT @MatthewB_SEA: Cisco, HP keep the lead in cloud infrastructure '
         'http://t.co/fi0MuG9QUH #cloud #amazon #ec2 #bigdata #IT '
         'http://t.co/jRLp7…',
 'tweet_id': 577223326289956864}
{'_id': ObjectId('5ac442b3a313fc06a48193f9'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 42, 24),
 'text': 'RT @pritishajoshi: The Geeks Arrive In HR:  People #Analytics Is '
         'Here http://t.co/w4xw93Tw19 via @forbes #HRtech #HR #People #Cloud '
         '#BigData',
 'tweet_id': 577223344141025280}
{'_id': ObjectId('5ac442b3a313fc06a48193fa'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 42, 29),
 'text': 'RT @Firas_Orbitera: Box raises $175m with IPO, but what is next?  '
         'http://t.co/wdK8JZM7db #cloud #amazon #aws #bigdata',
 'tweet_id': 577223365594779648}
{'_id': ObjectId('5ac442b3a313fc06a48193fb'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 42, 36),
 'text': 'RT @CarvMoore: FCC Takes Defensive Legal Stance in 300-Page Open '
         'Internet Order http://t.co/tkSfjPpods #data #IT #cloud #bigdata #aws',
 'tweet_id': 577223397047803904}
{'_id': ObjectId('5ac442b3a313fc06a48193fc'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 42, 45),
 'text': 'RT @BIG_DATA_News: Take holistic approach to improve rail '
         'reliability: The LTA and SMRT should perhaps incorporate and l... '
         'http://t.co/mM0…',
 'tweet_id': 577223432296755200}
{'_id': ObjectId('5ac442b3a313fc06a48193fd'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 42, 48),
 'text': "RT @caitlinrgreen: Translation of early 11thC runes: 'Óðinn and "
         "Heimdallr and Þjálfa, they help thee, Úlfljótr...' (trans. John "
         'Hines, http…',
 'tweet_id': 577223448004526080}
{'_id': ObjectId('5ac442b3a313fc06a48193fe'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 42, 49),
 'text': 'RT @KirkDBorne: New breed of scientific researchers, '
         '#DataScientists, must be Pi-shaped: https://t.co/BGmnXAOlIY #BigData '
         'by @jakevdp http:…',
 'tweet_id': 577223448503705603}
{'_id': ObjectId('5ac442b3a313fc06a48193ff'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 42, 53),
 'text': 'Many websites send out lists of ebooks.The Fussy Librarian uses a '
         "database to find novels you'll love: Subscribe now "
         'http://t.co/EBChICLch2',
 'tweet_id': 577223465255759872}
{'_id': ObjectId('5ac442b3a313fc06a4819400'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 42, 53),
 'text': 'RT @caitlinrgreen: This is quite nice too--early 11C runic '
         'inscription from Saltfleetby, Lincs, mentions Odin etc '
         'http://t.co/SgcfxbdQvZ ht…',
 'tweet_id': 577223468284035073}
{'_id': ObjectId('5ac442b3a313fc06a4819401'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 42, 56),
 'text': 'RT @CANSQL: Congratulations to #BigData #Hackathon winners in Data '
         'Visualization Category: Parking Tickets and Air Flights  #BDH '
         'http://t.c…',
 'tweet_id': 577223480548061184}
{'_id': ObjectId('5ac442b3a313fc06a4819402'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 43),
 'text': 'RT @bobehayes: Be precise about meaning of the data 》Datafloq - '
         'Transparency Is Not Enough http://t.co/Jfh5Xc2hQz ht @VanRijmenam '
         '#BigData …',
 'tweet_id': 577223496767406080}
{'_id': ObjectId('5ac442b3a313fc06a4819403'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 43, 9),
 'text': 'RT @RFA_Reading: This is why I wanted to be involved with #sme '
         'across the #thamesvalley with #bigdata http://t.co/SIHVND8mDY',
 'tweet_id': 577223532230283264}
{'_id': ObjectId('5ac442b3a313fc06a4819404'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 43, 9),
 'text': 'RT @CANSQL: Congratulation to #BigData #Hackathon winners in Data '
         'Modelling: Toronto Parking Ticket Revenue Forecaster project '
         'http://t.co/…',
 'tweet_id': 577223536256765952}
{'_id': ObjectId('5ac442b3a313fc06a4819405'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 43, 15),
 'text': 'RT @phpusers: Re: Waiting for localhost http://t.co/OGcvtI1663  #php '
         '#database',
 'tweet_id': 577223560718086145}
{'_id': ObjectId('5ac442b3a313fc06a4819406'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 43, 16),
 'text': '@Aalimah_aah I pull html source from a http://t.co/n5kJRoYydW list '
         '&amp; dump into a database.',
 'tweet_id': 577223563372941313}
{'_id': ObjectId('5ac442b3a313fc06a4819407'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 43, 25),
 'text': 'In your brain are stored hundreds of millions of data and imagery, '
         'but the brain is not simply a database.',
 'tweet_id': 577223601696309249}
{'_id': ObjectId('5ac442b3a313fc06a4819408'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 43, 42),
 'text': '"Algorithm Clones Facial Expressions and Pastes Them onto Other '
         'Faces" https://t.co/TzrPR5rtY8',
 'tweet_id': 577223674400534529}
{'_id': ObjectId('5ac442b3a313fc06a4819409'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 44, 3),
 'text': 'RT @MDMGeek: Big Data and the Internet of Things: Two Sides of the '
         'Same Coin? http://t.co/UQg7q3EvHp #BigData #IoT - By @tamaradull '
         '@SmartD…',
 'tweet_id': 577223762321485824}
{'_id': ObjectId('5ac442b3a313fc06a481940a'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 44, 15),
 'text': 'Unstructured Data: The Other Side of #Analytics - Forbes '
         'http://t.co/BZN44MeEYF @Forbes #bigdata',
 'tweet_id': 577223812770578432}
{'_id': ObjectId('5ac442b3a313fc06a481940b'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 44, 15),
 'text': 'RT @phpusers: Re: Waiting for localhost http://t.co/rPVg5Kd7q1  #php '
         '#database',
 'tweet_id': 577223812900646914}
{'_id': ObjectId('5ac442b3a313fc06a481940c'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 44, 26),
 'text': 'Job Opportunity: Senior Oracle Database Administrator in Pittsburgh, '
         'PA http://t.co/gXAsZVt1IQ #job#SeniorOracleDBA',
 'tweet_id': 577223856718508032}
{'_id': ObjectId('5ac442b3a313fc06a481940d'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 44, 29),
 'text': 'Tinder swipes right for database-as-a-service from Rackspace From '
         'the start, Tinder has used the MongoDB NoSQL ope '
         'http://t.co/Qh5Lkvcyyz',
 'tweet_id': 577223869704065024}
{'_id': ObjectId('5ac442b3a313fc06a481940e'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 44, 44),
 'text': 'Important shift in thinking... The BBVA bank vaults that hoard '
         '#bigdata instead of bullion http://t.co/d6O7BOcfKQ via @FT #banktech '
         '#fintech',
 'tweet_id': 577223934678069248}
{'_id': ObjectId('5ac442b3a313fc06a481940f'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 44, 55),
 'text': 'via @phpRTBot Re: Waiting for localhost   #php #database '
         'http://t.co/CUES54iN0m',
 'tweet_id': 577223978684690432}
{'_id': ObjectId('5ac442b3a313fc06a4819410'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 44, 55),
 'text': 'RT @IBMbigdata: Have #Analytics ever made you feel like a deer in '
         'headlights? Share your #BigData story at http://t.co/Oq7Dkb4TRy '
         'http://t.…',
 'tweet_id': 577223979733250049}
{'_id': ObjectId('5ac442b3a313fc06a4819411'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 44, 56),
 'text': 'RT @pritishajoshi: The Geeks Arrive In HR:  People #Analytics Is '
         'Here http://t.co/w4xw93Tw19 via @forbes #HRtech #HR #People #Cloud '
         '#BigData',
 'tweet_id': 577223982656663552}
{'_id': ObjectId('5ac442b3a313fc06a4819412'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 6),
 'text': 'The science of food: How GE is using #BigData to make sense of what '
         'you’re eating http://t.co/2nRzT2B4iH',
 'tweet_id': 577224026810150912}
{'_id': ObjectId('5ac442b3a313fc06a4819413'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 7),
 'text': 'RT @CraigMilroy: Important shift in thinking... The BBVA bank vaults '
         'that hoard #bigdata instead of bullion http://t.co/d6O7BOcfKQ via '
         '@FT …',
 'tweet_id': 577224030501117953}
{'_id': ObjectId('5ac442b3a313fc06a4819414'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 8),
 'text': 'RT @WmMichaelTaylor: Unstructured Data: The Other Side of #Analytics '
         '- Forbes http://t.co/BZN44MeEYF @Forbes #bigdata',
 'tweet_id': 577224031532916737}
{'_id': ObjectId('5ac442b3a313fc06a4819415'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 8),
 'text': 'RT @CANSQL: Congratulation to #BigData #Hackathon winners in Data '
         'Modelling: Toronto Parking Ticket Revenue Forecaster project '
         'http://t.co/…',
 'tweet_id': 577224034049499136}
{'_id': ObjectId('5ac442b3a313fc06a4819416'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 8),
 'text': 'RT @RFA_Reading: This is why I wanted to be involved with #sme '
         'across the #thamesvalley with #bigdata http://t.co/SIHVND8mDY',
 'tweet_id': 577224035320373248}
{'_id': ObjectId('5ac442b3a313fc06a4819417'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 9),
 'text': '★ JOB ALERT ★ #ITJob #Job #Plymouth - SQL Server Integration '
         'Services (SSIS) Database… http://t.co/PrsiwzWf5x ☜ view full details',
 'tweet_id': 577224036947652608}
{'_id': ObjectId('5ac442b3a313fc06a4819418'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 9),
 'text': 'Tinder swipes right for database-as-a-service from Rackspace From '
         'the start, Tinder has used the MongoDB NoSQL ope… '
         'http://t.co/BSUagSGlOd',
 'tweet_id': 577224037736165376}
{'_id': ObjectId('5ac442b3a313fc06a4819419'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 13),
 'text': 'Level 1: Bitcoin is scarce -&gt; valuable.\n'
         'L. 2: Wait, BTC is just a "friggin database technology"\n'
         'L. 3: Aha, *all* money is just database tech',
 'tweet_id': 577224054744092672}
{'_id': ObjectId('5ac442b3a313fc06a481941a'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 14),
 'text': '#hiring ★ JOB ALERT ★ #ITJob #Job #Wilmington - SAS Database '
         'Programmer http://t.co/x564K5OLun ☜ view full details #job',
 'tweet_id': 577224058963521536}
{'_id': ObjectId('5ac442b3a313fc06a481941b'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 15),
 'text': '☆★☆ JOB ALERT ☆★☆ #ITJob #Job #Sioux Falls - Database Analyst 4 '
         '(SQL) http://t.co/5VsZsiRecp ☜ view full details',
 'tweet_id': 577224064390983680}
{'_id': ObjectId('5ac442b3a313fc06a481941c'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 16),
 'text': 'RT @phpusers: Re: Waiting for localhost http://t.co/FkmBzkP6Zt  #php '
         '#database',
 'tweet_id': 577224065540308993}
{'_id': ObjectId('5ac442b3a313fc06a481941d'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 17),
 'text': 'RT @rkia_twitts: My 17 Predictions for Technology in 2015 #Cloud '
         '#Wearables #BigData #IOT #3DPrinting #Selfie: http://t.co/0cmXLWxKoT '
         'via @…',
 'tweet_id': 577224069965295617}
{'_id': ObjectId('5ac442b3a313fc06a481941e'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 21),
 'text': 'RT CraigMilroy: Important shift in thinking... The BBVA bank vaults '
         'that hoard #bigdata instead of bullion http://t.co/k0sIrpiELj; via '
         'FT …',
 'tweet_id': 577224085953875968}
{'_id': ObjectId('5ac442b3a313fc06a481941f'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 23),
 'text': '#Today - RECORDS, LIBRARY AND DATABASE MANAGEMENT WORKSHOP '
         '#Zimbabwe  http://t.co/2ZLL1YISmx http://t.co/CyGYsMOXVo',
 'tweet_id': 577224097165369345}
{'_id': ObjectId('5ac442b3a313fc06a4819420'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 32),
 'text': 'Job: Database Administrator (Data Center) . Are you a fit? in '
         'Pittsburgh, PA http://t.co/yE2yhaLqkY #job',
 'tweet_id': 577224134704422912}
{'_id': ObjectId('5ac442b3a313fc06a4819421'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 34),
 'text': 'The predict is made by using database "PinnaclePlus bet365".\n'
         ' http://t.co/9XowKLMwnX',
 'tweet_id': 577224141193003008}
{'_id': ObjectId('5ac442b3a313fc06a4819422'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 35),
 'text': 'via @phpRTBot Re: Waiting for localhost   #php #database '
         'http://t.co/CQMbFnRO1r',
 'tweet_id': 577224148277207041}
{'_id': ObjectId('5ac442b3a313fc06a4819423'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 39),
 'text': 'RT @joe_caserta: Why businesses should focus on wide data, not big '
         'data by @ThorOlavsrud http://t.co/cWslYbhxbk via @CIOonline #bigdata',
 'tweet_id': 577224164798513152}
{'_id': ObjectId('5ac442b3a313fc06a4819424'),
 'created_at': datetime.datetime(2015, 3, 15, 21, 45, 44),
 'text': 'IRS illegally sent 1.1 million page database of legally protected '
         'taxpayer information to FBI http://t.co/uBXDEMJPQN #TeaParty #tcot '
         '#PJNet',
 'tweet_id': 577224185216249857}

Updated October 3, 2017